<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--下方value填写正方教务系统登录页面-->
    <add key="login" value="http://jwnew.gdsdxy.cn/default2.aspx"/>
    <!--下方value填写正方教务系统后台页面-->
    <add key="index" value="http://jwnew.gdsdxy.cn/xs_main.aspx?xh="/>
  </appSettings>
</configuration>