<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--下方value填写正方教务系统登录页面-->
    <add key="login" value=""/>
    <!--下方value填写正方教务系统后台页面-->
    <add key="index" value=""/>
    <!--下方value填写正方教务系统登陆页面源码中的__VIEWSTATE值-->
    <add key="vstate" value=""/>
  </appSettings>
</configuration>